body {
	background-color: #E0E0E0;
}

.wrapper {
	overflow: auto;
	width: 100%;
}

.navigation {
	background-color: #4A8BF5;
	float: left;
	margin-bottom: 15px;
}
.navigation ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.navigation li {
	margin: 4px;
	padding-left: 4px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #8EB9FF;
}
.navigation li:hover {
	padding-left: 10px;
	padding-right: 4px;
	background-color: #4A8BF5;
}
.navigation a {
	font-weight: bold;
	color: #376BBF;
	text-decoration: none;
}
.inhalt {
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
}

.footer {
	text-align: center;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 15px;
	clear: both;
	font-weight: bold;
	color: #4DB231;
	background-color: #70F44B;
}
.footer a {
	font-weight: bold;
	color: #4DB231;
}
.footer ul {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}
.footer li {
	display: inline;
	margin: 10px;
}