body {
	background-color: #ebeef7;
}

.wrapper {
	overflow: auto;
	width: 100%;
}

.navigation {
	background-color: #dce6f1;
	float: left;
	margin-bottom: 15px;
}
.navigation ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.navigation li {
	margin: 4px;
	padding-left: 4px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #95b3d7;
}
.navigation li:hover {
	padding-left: 10px;
	padding-right: 4px;
	background-color: #4f81bd;
}
.navigation a {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.inhalt {
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
}
.inhalt table {
	margin-top: 15px;
	margin-bottom: 15px;
}
.inhalt td, th {
	padding-left: 4px;
	padding-right: 4px;
}

.inhalt tr:nth-child(even) {
	background-color: #fabf8f;
}
.inhalt tr:nth-child(odd) {
	background-color: #f79646;
}

.inhalt tr {
	color: #FFFFFF;
}

.inhalt #important_red {
	padding: 4px;
	margin-top: 4px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #da9694;
}
.inhalt #important_red:hover {
	background-color: #c0504d;
}
.inhalt #important_green {
	padding: 4px;
	margin-top: 4px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #c4d79b;
}
.inhalt #important_green:hover {
	background-color: #9bbb59;
	text-decoration: none;
}
.inhalt table a {
	color: #FFFFFF;
}
.inhalt table a:hover {
	text-decoration: none;
}


.inhalt #shorttext {
	width: 600px;
	height: 50px;
	max-height: 50px;
}
.inhalt #text {
	width: 600px;
	height: 500px;
	max-height: 750px;
}

.footer {
	text-align: center;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 15px;
	clear: both;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #daeef3;
}
.footer a {
	font-weight: bold;
	color: #FFFFFF;
}
.footer a:hover {
	text-decoration: none;
}
.footer ul {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}
.footer li {
	background-color: #4bacc6;
	display: inline;
	margin: 5px;
	padding: 5px;
}